extends index.pug

block content

    h4.text.text-secondary Make sure the details are correct before you mark this transaction as 
        b.text-uppercase.text-warning collected

    form(method="post")
        button.btn.btn-outline-success.text-uppercase(type="submit") Yes, Mark As Collected