extends index.pug

block content
    header(class="bg-success text-white shape2")
        div(class="container text-center")
            h1 Welcome Admin Signup/Signin To Your Account
            p(class="lead") Update your customers
    
    
    nav(class="navbar navbar-expand-lg navbar-dark" id="Nav")       
        div(class="" id="navbarResponsive")
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link text text-secondary js-scroll-trigger text-dark" href="/service/signup") Signup
                li(class="nav-item")
                    a(class="nav-link text text-secondary js-scroll-trigger text-dark" href="/service/signin") Signin
                li(class="nav-item")
                    a(class="nav-link text text-secondary js-scroll-trigger text-dark" href="/service/tutorial") Quick Tutorial