extends ../index.pug

block content
    h4 Customer Login
    form(method='post')
        hr
        .input-group
            input.form-control(type='email', autofocus=true, placeholder='Service Station email address', name="email")
            .input-group-append
                span.input-group-text(id='my-addon') E-Mail Address

        .input-group
            input.form-control(type='password', placeholder='Password' , name='password')
            .input-group-append
                span.input-group-text(id='my-addon') Password
        hr
        button.btn.btn-outline-primary(type='submit') Log-in
    